\begin{table}
\begin{tabular}{c|| %cees% }	
P.C. & %pitch_classes% \\
\hline
\hline
%data%     	
\end{tabular}
\label{tbl:pitch_class_interval_matrix}
\caption{Pitch class interval matric. P.C. stands for Pitch Class, the values are given in cents.}
\end{table}